

.box{
	position: fixed;
	bottom:180px;
	width: 100px;
	height: 100px;
	margin: 4px;
	display: inline-block;
}

.red{
	background-color: #ff4747;
	left: 610px;
}
.blue{
	background-color: #ff7c2b;
	left: 720px;
}

.green{
	background-color: #ffd323;
	left: 830px;
}
.yellow{background-color: #a2ff30;
left: 940px;}

.lan{
	background-color: #9bffee;
	left: 1050px;
}
.purple{background-color: #41b1fc;
left: 1160px;}

.snake{
position: fixed;
right: 0px;
}